<!DOCTYPE html>
<html lang="es">
<head>
    <title> Conversaciones virtuales </title>
    <link href="{{ url_for("static", filename="index.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="favicon.ico") }}" rel="shortcut icon">
    <script src="{{ url_for("static", filename="bootstrap.min.js") }}"> </script>
</head>
<body>
    <div class="d-flex flex-column justify-content-evenly">
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img
                class="logo p-4 me-1"
                src="{{ url_for("static", filename="favicon.ico") }}"
            >
            </img>
            <h1 class="text-center ms-1"> Conversaciones virtuales </h1>
        </div>
        <div class="d-flex justify-content-center px-5">
            <video src="{{ video_src }}" controls/> video not supported </video>
        </div>
        <div class="d-flex flex-row justify-content-center pt-4 px-5">
            <form
                action="http://127.0.0.1:5000/text"
                class="d-flex flex-row justify-content-evenly"
                enctype=multipart/form-data
                method="post"
            >
                <input
                    name="question"
                    type="text"
                    class="form-control me-1"
                    placeholder="Escribe una pregunta"
                    value="{{ request.form["question"] }}"
                >
                </input>
                <button type="submit" class="btn btn-outline-success ms-1"> Enviar </button>
            </form>
        </div>
        <div class="d-flex flex-row justify-content-evenly py-4 px-5">
            <form
                action="http://127.0.0.1:5000/"
                class="d-flex flex-row justify-content-evenly"
                enctype=multipart/form-data
            >
                <audio class="tmp-player" controls> </audio>
                <button type="button" class="record btn btn-outline-danger"> Grabar </button>
                <button type="submit" class="btn btn-outline-success sender"> Enviar </button>
            </form>
        </div>
    </div>
    <script src="{{ url_for("static", filename="index.js") }}"> </script>
</body>
</html>


